/1-datatype/nbproject/private/
/1-datatype/build/
/codepied/1-datatype/nbproject/private/
/codepied/1-datatype/build/
/codetry/1-datatype_try/nbproject/private/
/codetry/1-datatype_try/build/
/codetry/2-useDataType/nbproject/private/
/codetry/2-useDataType/build/
/codetry/3-scanner/nbproject/private/
/codetry/3-input/nbproject/private/
/codetry/3-input/build/
/codepied/2-starList/nbproject/private/
/codepied/2-starList/build/
/codepied/3-cutterV1/nbproject/private/
/codepied/3-cutterV1/build/
/codepied/4-cutterV2/nbproject/private/
/codepied/4-cutterV2/build/
/codepied/4-disk/nbproject/private/
/codepied/4-disk/build/
/codepied/5-cutterV3/nbproject/private/
/codepied/5-cutterV3/build/