/1-datatype/nbproject/private/
/1-datatype/build/
/codepied/1-datatype/nbproject/private/
/codepied/1-datatype/build/
/codetry/1-datatype_try/nbproject/private/
/codetry/1-datatype_try/build/
/codetry/2-useDataType/nbproject/private/
/codetry/2-useDataType/build/